# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log -- these are just examples
**/.DS_Store 
**.log
**.json

# Includelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
!MangaContexts/
!DB-MangaContexts.json
!interiorstellar/
!DB-interiorstellar.json
!interiorsuckerr/
!DB-interiorsuckerr.json
#!kiss_xoxokiss/
#!DB-kiss_xoxokiss.json
#!lesbicarj/
#!DB-lesbicarj.json
#!lxIxIxlxl/
#!DB-lxIxIxlxl.json
#!wlwpicz/
#!DB-wlwpicz.json
!jisoogaIIery/
!DB-jisoogaIIery.json
!jnkrated/
!DB-jnkrated.json
!lalisarchive/
!DB-lalisarchive.json
!picturesrosie/
!DB-picturesrosie.json
!roseannepics/
!DB-roseannepics.json